<!DOCTYPE html>
<html lang="ar">
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        cursor: crosshair;
    }

    body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
    }

    #polygon {
        height: 100%;
        width: 100%;
    }
</style>

<body style="height: 100% !important;">
    <div id="polygon"></div>
</body>
<script src="assets/js/libs/svg.min.js"></script>
<script src="assets/js/libs/svg.draw.min.js"></script>
<script src="assets/js/libs/swal.min.js"></script>
<script src="assets/js/grid.js"></script>

</html>